$smx-color-00: #EFEFEF;
$smx-color-01: #282A30;
$smx-color-02: #3D3D3D;
$smx-color-03: #939393;
$smx-color-05: #C4C4C4;
$smx-color-07: #ECECEC;
$smx-color-06: #F9F9F9;
$smx-color-04: #CF3947;
$smx-color-08: #3D9D24;

$smx-color-10: #7289DA;

$grid-gutter-width: 20px;

.c-switch {
    background: #fff;
    margin: 0 0 ($grid-gutter-width * 1.5);
    padding: calc($grid-gutter-width / 2);
    border-radius: calc($grid-gutter-width / 2);
    color: $smx-color-02;
    letter-spacing: -0.02em;
    line-height: 1.4;
    transition: all .4s ease-in-out;
    position: relative;
    min-height: 125px;

    // **************************
    // Detail
    // **************************
    &__icon {
        height: 210px;
        width: 186px;
        text-align: left;
        display: inline-block;
        margin: 0;
        position: relative;
        z-index: 2;

        &-stem {
            transform: scale3d(3, 3, 3);
            top: 58px;
            position: absolute;
            left: 78px;
            z-index: 1;
            transition: all 0.1s ease-in-out;
        }

        &-housing-top {
            top: 74px;
            transform: translateX(0.2px) scale3d(3, 3, 3);
            position: absolute;
            left: 64px;
            z-index: 2;
        }

        &-housing-bottom {
            top: 145px;
            transform: scale3d(3, 3, 3);
            position: absolute;
            left: 63px;
            z-index: 2;

            @media all and (-ms-high-contrast:none) {
                top: 84px;
            }
        }
    }
}